body {
    margin: 0;
}

.container {
    perspective: 2000px; /* bigger value : less perspective, smaller value : more perspective */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    transition: 0.5s ease, 1s ease;
    height: 50%;
    border-radius: 20px;
}

.card.active, .card:hover {
    transition: 0.1s ease-out;
}